
<div>
    <h1>User Input</h1>
    <input type="number" [(ngModel)]="inputNumber" placeholder="Enter a number" />
    <button (click)="addUserInput()">Submit</button>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div>
      <h2>Multiplication Table</h2>
      <ul>
        <li *ngFor="let item of getMultiplicationTable()">{{ item }}</li>
      </ul>
    </div>
    <div>
      <h2>Previous Inputs</h2>
      <ul>
        <li *ngFor="let number of userInputs">{{ number }}</li>
      </ul>
    </div>
  </div>
  